body {
  font-family: 'Source Sans Pro'
             , 'Trebuchet MS'
             , 'Lucida Grande'
             , 'Bitstream Vera Sans'
             , 'Helvetica Neue'
             , sans-serif;

  font-size: 18px;
  margin: 0;
  background-color: #F29F05;
}

div.rounded {
  border-radius: 25px;
}

h1 {
  font-size: 30px;
  color: #1B5084;
  text-align: center;
}

p.sorry {
  color: #293C4B;
  text-align: center;
}

img.congrats {
  width: 570px;
  margin: auto;
  display: block;
  min-width: 50%;
  max-width: 100%;
}

span {
  padding: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  font-size: 100%;
  background-color: #0487D9;
}

button:hover {
  background-color: #1B5084;
}

button:disabled {
  cursor: auto;
  background-color: #0FB2F2;
}

button.play {
  width: 100%;
}

div.content {
  margin: auto;
  width: 570px;
  min-width: 50%;
  max-width: 100%;
}

div.box {
  padding: 10px;
  margin: 10px 10px 0 10px;
}

div.score {
  justify-content: space-between;
  display: flex;
  padding: 10px 20px;
  background-color: #F2CB05;
}

div.main {
  background-color: white;
}

div.guess, div.secret {
  font-size: 30px;
  color: #293C4B;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.play {
  margin: 0;
  padding: 15px 10px;
}

div.feedback {
  padding-left: 20px;
  margin-bottom: 15px;
  background-color: #F2CB05;
}

div.left {
  padding-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
}

div.right {
  padding: 10px 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
}

@media (min-width: 500px) {
  div.buttons {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
  }
  div.left {
    width: 75%;
  }
}
